.reward{
display:none;
}

.happyburb{
    display:none;
    }
    
#chest{
    display:none;
    }
    
#open{
    display:none;
    }
    
#inside{
    display:none;
    }
    
#forest{
    display:none;
    }
    
    #die{
    display:none;
    }
    
    #zombie{
    display:none;
    }